* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#fcf6f5ff;
    background-color: #A13941ff;
}

/* Header Styles */

header {
    padding: 10px 10px;
    display: flex;
    background: #f0e1b9ff;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top:0;
    z-index: 9999;
}
header h1 {
    font-weight: bold;
    font-size: 40px;
    margin: 0;
  
}
 nav ul {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}
 nav ul li a {
    padding: 10px 10px;
    border-bottom: none;
}

.hero {
    padding: 50px; 
    display: flex;
    justify-content: center;
}
/* About Me section */

.about-me {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    height:300px;
}

.me-img  {
   border: 1px solid #f0e1b9ff;
   border-radius: 4px;
   height: 150px;
   
}
.left-column {
   display:flex;
   align-items:center;
   border-right-style: double ;
   border-right-color: #f0e1b9ff;
   flex-direction: column;
   justify-content: space-evenly;
   width:200px;
   
}
.right-column {
    display: flex;
    align-items: center;
    flex-basis: 70%;
    margin-left:auto;
    margin-right:auto;
    
}

/* Work styles */
.card-container {
    position: relative;
    
}
.card-container img{
    display:block;
    width: 100%;
    height: auto;
}
.overlay {
    position: absolute;
    bottom:0;
    background: black;
    width:100%;
    transition: .5s ease;
    opacity: 0;
    color: #f0e1b9ff;
    font-size: 25px;
    font-weight:bolder;
    padding:20px;
    text-align:center;
}
.card-container:hover .overlay {
    opacity: 1;
}
.work {
    display: flex;
   
    
}
.work-img {
    max-width: 700px;
    min-height: 400px;
    margin: 20px 20px;
    border: 2px solid black;
}
.links {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.placeholder {
    margin: 20px 40px;
    max-width: 300px;
    min-height:200px;
    border: 2px solid black;
    

}

/* Contact styles */

.contact {
    display: flex;
    align-items: center;
    padding: 100px 0
}
.contact-bar {
    height: 80px;
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #f3db74ff;
}
.contact-bar img {
    margin-right: 40px;

}
.contact-bar p {
    margin-right: 40px;
    font-weight: 700;

}
.contact-bar span {
    margin-right: 40px;
}
.contact h2 {
    margin-left:100px;
    font-size:40px;
}

/* Footer styles */
footer {
    padding: 10px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

/* media queries for smaller screens */

@media screen and (max-width: 768px) {

}